@model Assets_Inventory.Models.Asset

@{
    ViewBag.Title = "Asset Inventory";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="row">
    <h2 class="page-header">Active Assets</h2>
    <table class="table table-hover">
        <tr>
            <th>Инв. №</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Имя в сети</th>
            <th>Расположение</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (Assets_Inventory.Models.Asset item in ViewBag.Assets)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Inv_id)</td>
                <td>@Html.DisplayFor(m => item.Brand)</td>
                <td>@Html.DisplayFor(m => item.Model)</td>
                <td>@Html.DisplayFor(m => item.Netw_name)</td>
                <td>@Html.DisplayFor(m => item.Location)</td>
                <td>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>
                            <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
                        </div>

                        <div class="btn-group">
                            <a href="@Url.Action("Edit", "Home", new { id = item.Id })" class="btn btn-success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
    <p><a href="@Url.Action("Create", "Home")" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></p>
</div>

@section scripts
{
    <script>
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".btn").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}